*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
header{
    background-color: hsl(196, 84%, 59%);
    text-align: center;
    padding: 25px;
}
.navbar ul{
    list-style-type: none;
    background-color: hsl(240, 2%, 37%);
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    height: 30px;
    text-align: center;
}
.navbar a{
    color: white;
    text-decoration: none;
    padding: 25px;
    background-color: black;
    text-align: center;
}
.navbar a:hover{
    background-color: rgb(213, 203, 203);
}
.navbar li{
    float:left
}
aside{
    width: 20%;
    float: left;
    padding: 10px;
}
section{
    width: 40%;
    float: left;
    padding: 10px;
}
article{
    width: 40%;
    float: left;
    padding: 10px;
}
footer{
    display: block;
    clear: both;
    background-color: hsl(196, 84%, 59%);
    text-align: center;
    padding: 25px;
}
@media screen and (max-width:600px){
    aside, section, article{
        width: 100%;
    }
}
